* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100px;
    height: auto;
    pointer-events: none;
}
ul, li{
    list-style-type: none;
}
body {
    background-color: #f6f8fc;
    user-select: none ;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}